<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
   

    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
    <p><h4>Don't have an account ? </h4><a href="{% url 'signup' %}"><h4> Sign up</h4></a></p>
</body>
</html>
